li {
  cursor: pointer;
}

.list-group-item {
  background-color: #ffd436;
}

.form-group input {
  padding-left: 15px;
}

.modal-content {
  background-color: rgb(136, 117, 117);
  padding: 23px 6px 18px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
  margin: 6px 5px 0px;
}

