.main-section{
    margin:0 auto;
    margin-top: -1%;
    padding: 0;
}

.modal-content {
    background-color: rgb(136, 117, 117);
    padding: 23px 6px 18px;
    box-shadow: 0px 0px 3px #848484;
    margin-top: 7em;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
    margin: 6px 5px 0px;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: .3s;
}

.inputWithIcon input[type=text]:focus +i{
    color:dodgerblue;
}
