.nav-link{
    color: rgb(0, 0, 0)!important;
}
.encabezadoDeModificar{
    padding-left: 130px;
    display: inline-flex;
}
.nombreUsuario{
    color: #ffc107;
}
.correoUsuario{
    color: #ffffff;
    display: inline-flex;
}
.ultimaConexion{
    color: #ffffff;
}

.nav-link.active {
    color: #000 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 #ffc107 #ffc107 !important;

}
.nav-link{
    background: #ffc107;
    color:#000;
}
.Nickname{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.Nombre{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.Apellido{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.Correo{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.Email{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.Fecha{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
li{
    background-color: #ffc107;
    border: 1.5px solid;
}
.list-group-item{
    background-color: #ffc107;
    border: 1.5px solid;
}
a{
    color:darkblue;
}
