nav.navbar {
    background-color: rgb(156, 148, 148);
    color: rgba(226, 161, 21, 0.925);
}
body{
    background: #545561;
    color: aliceblue;
}
.descripcion{
    color: #ffc107;
}
.descripcion:hover{
    color: #ffc107;
}
li{
    color: #212529;
    background-color: #ffc107;
    border-color: #181717;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1.5px solid;
}
.etiquetaVinculo{
    color:#000;
}
.encabezadoDeModificar{
    padding-left: 130px;
    display: inline-flex;
}
.nombreUsuario{
    color: #ffc107;
}
.correoUsuario{
    color: #ffffff;
    display: inline-flex;
}
.ultimaConexion{
    color: #ffffff;
}
.nav-tabs{
    color:#000;
}
.nav-link{
    background: #ffc107;
    color:#000;
}
.nav-link.active {
    color: #000 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 #ffc107 #ffc107 !important;

}
.datosDelUsuario{
    width: 100%;
}
.center{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
